body, html {
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
  background: #f1f1f1;
  font-family: verdana;
  font-size: 12px;
}
*{margin:0; padding: 0; border: 0;}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin fade-in {
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
@import '_animated';

@import '_main';
@import '_message';
