<html ng-app="myApp">
  <head>
    <title>Hola every body--en casa del </title>
    <link rel="stylesheet" href="css/style.css">
    <script src="dist/js/bower.js"></script>
    <script src="js/app.js"></script>

  </head>
  <body>
    <div ng-controller="demoCtrl as vm" id="wrapper">
      <h1>test de angular - karma - para el primer controller</h1>
      <h2>{{vm.value}}-</h2>
      <h3>{{vm.tryIt()}}</h3>
      <h4>{{vm.count}}</h4>
      <h4>tengo un <span style="color:{{vm.car.color}}">coche</span></h4>
      <p>
        Message Factory : {{vm.message.title}}
        <br />
        message from alert?? {{vm.alert}}, con title {{vm.alert.title}}
      </p>
      <button-directive data="{name: 'pedro'}"></button-directive>
      <ats-message type="{{message.type}}" position="{{message.position}}" duration="{{message.duration}}" ng-repeat="message in vm.messages" text="{{message.text}}"></ats-message>
      <!--
      <ats-message type="alert" position="br" duration="1000">Give the content ats-message</ats-message>
      <ats-message type="alert" position="br" duration="3580">Give the content ats-message 2 999</ats-message>
      <ats-message type="alert" position="br" duration="1580">Give the content ats-message 3</ats-message>
      <ats-message type="warm" position="br" duration="3000">Soy un warm</ats-message>
      -->
    </div>
    
  </body>
</html>